{
  "openapi": "3.1.0",
  "info": {
    "title": "GC Stats API",
    "version": "1.0.0",
    "description": "Read only stats API for teams and players. Send an `x-api-key` header on every request, get a key from the dashboard."
  },
  "servers": [
    {
      "url": "https://gc-stats.app/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key issued from the dashboard, sent on every request."
      }
    },
    "schemas": {
      "PlayerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Player"
          },
          {
            "type": "object",
            "properties": {
              "current_team": {
                "$ref": "#/components/schemas/Team"
              },
              "photo": {
                "$ref": "#/components/schemas/LogoUrls"
              }
            },
            "required": [
              "current_team",
              "photo"
            ]
          }
        ]
      },
      "Team": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "short_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "socials": {
            "type": "object",
            "additionalProperties": {}
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "vlr_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "short_name",
          "country_code",
          "socials",
          "bio",
          "vlr_id",
          "is_active"
        ]
      },
      "LogoUrls": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "url_200x200": {
            "type": [
              "string",
              "null"
            ]
          },
          "url_full": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "url_200x200",
          "url_full"
        ]
      },
      "Player": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "handle": {
            "type": "string"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "socials": {
            "type": "object",
            "additionalProperties": {}
          },
          "vlr_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "handle",
          "first_name",
          "last_name",
          "country_code",
          "bio",
          "socials",
          "vlr_id",
          "is_active"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid \"id\": expected a positive integer"
          }
        },
        "required": [
          "error"
        ]
      },
      "PlayerTeamHistoryEntry": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "integer"
          },
          "team_name": {
            "type": "string"
          },
          "team_short_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_country": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string"
          },
          "joined_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "left_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "team_id",
          "team_name",
          "team_short_name",
          "team_country",
          "role",
          "joined_at",
          "left_at"
        ]
      },
      "LogoHistoryResponse": {
        "type": "object",
        "properties": {
          "current": {
            "$ref": "#/components/schemas/LogoEntry"
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogoEntry"
            }
          }
        },
        "required": [
          "current",
          "history"
        ]
      },
      "LogoEntry": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "uuid": {
            "type": "string"
          },
          "url_200x200": {
            "type": [
              "string",
              "null"
            ]
          },
          "url_full": {
            "type": [
              "string",
              "null"
            ]
          },
          "from": {
            "type": [
              "string",
              "null"
            ]
          },
          "until": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "uuid",
          "url_200x200",
          "url_full",
          "from",
          "until"
        ]
      },
      "AvgStats": {
        "type": "object",
        "properties": {
          "maps_played": {
            "type": "integer"
          },
          "rounds_played": {
            "type": "integer"
          },
          "total_kills": {
            "type": "number"
          },
          "avg_kills": {
            "type": "number"
          },
          "total_deaths": {
            "type": "number"
          },
          "avg_deaths": {
            "type": "number"
          },
          "total_assists": {
            "type": "number"
          },
          "avg_assists": {
            "type": "number"
          },
          "total_acs": {
            "type": "number"
          },
          "avg_acs": {
            "type": "number"
          },
          "total_adr": {
            "type": "number"
          },
          "avg_adr": {
            "type": "number"
          },
          "total_kast_percentage": {
            "type": "number"
          },
          "avg_kast_percentage": {
            "type": "number"
          },
          "total_headshot_percentage": {
            "type": "number"
          },
          "avg_headshot_percentage": {
            "type": "number"
          },
          "total_first_kills": {
            "type": "number"
          },
          "avg_first_kills": {
            "type": "number"
          },
          "total_first_deaths": {
            "type": "number"
          },
          "avg_first_deaths": {
            "type": "number"
          },
          "kd_ratio": {
            "type": "number"
          },
          "by_side": {
            "type": "object",
            "properties": {
              "atk": {
                "$ref": "#/components/schemas/SideStats"
              },
              "def": {
                "$ref": "#/components/schemas/SideStats"
              }
            },
            "required": [
              "atk",
              "def"
            ]
          }
        },
        "required": [
          "maps_played",
          "rounds_played",
          "total_kills",
          "avg_kills",
          "total_deaths",
          "avg_deaths",
          "total_assists",
          "avg_assists",
          "total_acs",
          "avg_acs",
          "total_adr",
          "avg_adr",
          "total_kast_percentage",
          "avg_kast_percentage",
          "total_headshot_percentage",
          "avg_headshot_percentage",
          "total_first_kills",
          "avg_first_kills",
          "total_first_deaths",
          "avg_first_deaths",
          "kd_ratio",
          "by_side"
        ]
      },
      "SideStats": {
        "type": "object",
        "properties": {
          "side": {
            "type": "string",
            "enum": [
              "atk",
              "def"
            ]
          },
          "rounds_played": {
            "type": "integer"
          },
          "rounds_won": {
            "type": "integer"
          },
          "round_winrate": {
            "type": "number"
          },
          "total_kills": {
            "type": "number"
          },
          "avg_kills_per_round": {
            "type": "number"
          },
          "total_assists": {
            "type": "number"
          },
          "avg_assists_per_round": {
            "type": "number"
          },
          "total_score": {
            "type": "number"
          },
          "avg_acs_per_round": {
            "type": "number"
          },
          "total_damage": {
            "type": "number"
          },
          "avg_adr_per_round": {
            "type": "number"
          },
          "total_headshots": {
            "type": "number"
          },
          "total_bodyshots": {
            "type": "number"
          },
          "total_legshots": {
            "type": "number"
          },
          "headshot_percentage": {
            "type": "number"
          },
          "first_kills": {
            "type": "number"
          },
          "first_deaths": {
            "type": "number"
          }
        },
        "required": [
          "side",
          "rounds_played",
          "rounds_won",
          "round_winrate",
          "total_kills",
          "avg_kills_per_round",
          "total_assists",
          "avg_assists_per_round",
          "total_score",
          "avg_acs_per_round",
          "total_damage",
          "avg_adr_per_round",
          "total_headshots",
          "total_bodyshots",
          "total_legshots",
          "headshot_percentage",
          "first_kills",
          "first_deaths"
        ]
      },
      "AgentStatsEntry": {
        "type": "object",
        "properties": {
          "agent_name": {
            "type": "string"
          },
          "maps_played": {
            "type": "integer"
          },
          "pickrate": {
            "type": "number"
          },
          "total_kills": {
            "type": "number"
          },
          "avg_kills": {
            "type": "number"
          },
          "total_deaths": {
            "type": "number"
          },
          "avg_deaths": {
            "type": "number"
          },
          "total_assists": {
            "type": "number"
          },
          "avg_assists": {
            "type": "number"
          },
          "total_acs": {
            "type": "number"
          },
          "avg_acs": {
            "type": "number"
          },
          "total_adr": {
            "type": "number"
          },
          "avg_adr": {
            "type": "number"
          },
          "total_kast_percentage": {
            "type": "number"
          },
          "avg_kast_percentage": {
            "type": "number"
          },
          "total_headshot_percentage": {
            "type": "number"
          },
          "avg_headshot_percentage": {
            "type": "number"
          },
          "total_first_kills": {
            "type": "number"
          },
          "avg_first_kills": {
            "type": "number"
          },
          "total_first_deaths": {
            "type": "number"
          },
          "avg_first_deaths": {
            "type": "number"
          },
          "kd_ratio": {
            "type": "number"
          }
        },
        "required": [
          "agent_name",
          "maps_played",
          "pickrate",
          "total_kills",
          "avg_kills",
          "total_deaths",
          "avg_deaths",
          "total_assists",
          "avg_assists",
          "total_acs",
          "avg_acs",
          "total_adr",
          "avg_adr",
          "total_kast_percentage",
          "avg_kast_percentage",
          "total_headshot_percentage",
          "avg_headshot_percentage",
          "total_first_kills",
          "avg_first_kills",
          "total_first_deaths",
          "avg_first_deaths",
          "kd_ratio"
        ]
      },
      "WeaponStatsEntry": {
        "type": "object",
        "properties": {
          "weapon": {
            "type": "string"
          },
          "times_played": {
            "type": [
              "integer",
              "null"
            ]
          },
          "kills": {
            "type": "integer"
          }
        },
        "required": [
          "weapon",
          "times_played",
          "kills"
        ]
      },
      "TeamResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Team"
          },
          {
            "type": "object",
            "properties": {
              "logo": {
                "$ref": "#/components/schemas/LogoUrls"
              }
            },
            "required": [
              "logo"
            ]
          }
        ]
      },
      "TeamPlayersResponse": {
        "type": "object",
        "properties": {
          "current": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          }
        },
        "required": [
          "current",
          "history"
        ]
      },
      "TeamVetoEntry": {
        "type": "object",
        "properties": {
          "map_name": {
            "type": "string"
          },
          "played": {
            "type": "integer"
          },
          "banned": {
            "type": "integer"
          },
          "pick": {
            "type": "integer"
          },
          "decider": {
            "type": "integer"
          }
        },
        "required": [
          "map_name",
          "played",
          "banned",
          "pick",
          "decider"
        ]
      },
      "TeamMapEntry": {
        "type": "object",
        "properties": {
          "map_name": {
            "type": "string"
          },
          "times_played": {
            "type": "integer"
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "winrate": {
            "type": "number"
          },
          "atk": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "def": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "eco": {
            "$ref": "#/components/schemas/EcoBreakdown"
          },
          "comps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompEntry"
            }
          }
        },
        "required": [
          "map_name",
          "times_played",
          "wins",
          "losses",
          "winrate",
          "atk",
          "def",
          "eco",
          "comps"
        ]
      },
      "SideWinrate": {
        "type": "object",
        "properties": {
          "rounds_played": {
            "type": "integer"
          },
          "rounds_won": {
            "type": "integer"
          },
          "winrate": {
            "type": "number"
          }
        },
        "required": [
          "rounds_played",
          "rounds_won",
          "winrate"
        ]
      },
      "EcoBreakdown": {
        "type": "object",
        "properties": {
          "eco": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "semi_eco": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "semi_buy": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "full_buy": {
            "$ref": "#/components/schemas/SideWinrate"
          }
        },
        "required": [
          "eco",
          "semi_eco",
          "semi_buy",
          "full_buy"
        ]
      },
      "CompEntry": {
        "type": "object",
        "properties": {
          "comp": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "times_played": {
            "type": "integer"
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "winrate": {
            "type": "number"
          },
          "atk": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "def": {
            "$ref": "#/components/schemas/SideWinrate"
          }
        },
        "required": [
          "comp",
          "times_played",
          "wins",
          "losses",
          "winrate",
          "atk",
          "def"
        ]
      },
      "TeamStatsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AvgStats"
          },
          {
            "type": "object",
            "properties": {
              "situations": {
                "$ref": "#/components/schemas/SideSituations"
              },
              "post_plant": {
                "$ref": "#/components/schemas/SidePostPlant"
              }
            },
            "required": [
              "situations",
              "post_plant"
            ]
          }
        ]
      },
      "SideSituations": {
        "type": "object",
        "properties": {
          "atk": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SituationEntry"
            },
            "description": "Keyed by \"<your alive count>v<enemy alive count>\" (e.g. \"3v2\"), from 0v0 to 5v5."
          },
          "def": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SituationEntry"
            },
            "description": "Keyed by \"<your alive count>v<enemy alive count>\" (e.g. \"3v2\"), from 0v0 to 5v5."
          }
        },
        "required": [
          "atk",
          "def"
        ]
      },
      "SituationEntry": {
        "type": "object",
        "properties": {
          "played": {
            "type": "integer"
          },
          "won": {
            "type": "integer"
          },
          "winrate": {
            "type": "number"
          }
        },
        "required": [
          "played",
          "won",
          "winrate"
        ]
      },
      "SidePostPlant": {
        "type": "object",
        "properties": {
          "atk": {
            "$ref": "#/components/schemas/PostPlantStats"
          },
          "def": {
            "$ref": "#/components/schemas/PostPlantStats"
          }
        },
        "required": [
          "atk",
          "def"
        ]
      },
      "PostPlantStats": {
        "type": "object",
        "properties": {
          "played": {
            "type": "integer"
          },
          "won": {
            "type": "integer"
          },
          "winrate": {
            "type": "number"
          }
        },
        "required": [
          "played",
          "won",
          "winrate"
        ]
      },
      "PaginatedTeamMatches": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMatchEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "TeamMatchEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tournament_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "phase_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "round_number": {
            "type": [
              "integer",
              "null"
            ]
          },
          "round_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "best_of": {
            "type": "integer"
          },
          "patch": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_a": {
            "$ref": "#/components/schemas/TeamWithScore"
          },
          "team_b": {
            "$ref": "#/components/schemas/TeamWithScore"
          },
          "vetos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchVeto"
            }
          }
        },
        "required": [
          "id",
          "tournament_id",
          "phase_id",
          "round_number",
          "round_name",
          "scheduled_at",
          "status",
          "best_of",
          "patch",
          "team_a",
          "team_b",
          "vetos"
        ]
      },
      "TeamWithScore": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "team": {
            "$ref": "#/components/schemas/Team"
          },
          "score": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "team",
          "score"
        ]
      },
      "MatchVeto": {
        "type": "object",
        "properties": {
          "match_id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "map_name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        },
        "required": [
          "match_id",
          "team_id",
          "map_name",
          "type",
          "order"
        ]
      },
      "TournamentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tournament"
          },
          {
            "type": "object",
            "properties": {
              "phases": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TournamentPhase"
                }
              },
              "logo": {
                "$ref": "#/components/schemas/LogoUrls"
              }
            },
            "required": [
              "phases",
              "logo"
            ]
          }
        ]
      },
      "TournamentPhase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tournament_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "format": {
            "type": "null",
            "description": "Always null — a V2 stage has no single format (cf. tournament.phase → stages)."
          },
          "parent_id": {
            "type": "null",
            "description": "Always null — a V2 stage has no parent."
          },
          "match_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "id",
          "tournament_id",
          "name",
          "format",
          "parent_id",
          "match_ids"
        ]
      },
      "Tournament": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": [
              "string",
              "null"
            ]
          },
          "prize_pool": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "region",
          "category",
          "prize_pool",
          "location",
          "start_date",
          "end_date",
          "status",
          "description"
        ]
      },
      "MatchFullResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tournament_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "phase_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "round_number": {
            "type": [
              "integer",
              "null"
            ]
          },
          "round_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "best_of": {
            "type": "integer"
          },
          "patch": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_a": {
            "$ref": "#/components/schemas/TeamWithScore"
          },
          "team_b": {
            "$ref": "#/components/schemas/TeamWithScore"
          },
          "maps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameMap"
            }
          },
          "vetos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchVeto"
            }
          }
        },
        "required": [
          "id",
          "tournament_id",
          "phase_id",
          "round_number",
          "round_name",
          "scheduled_at",
          "status",
          "best_of",
          "patch",
          "team_a",
          "team_b",
          "maps",
          "vetos"
        ]
      },
      "GameMap": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "match_id": {
            "type": "integer"
          },
          "api_match_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "map_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_a_score": {
            "type": [
              "integer",
              "null"
            ]
          },
          "team_b_score": {
            "type": [
              "integer",
              "null"
            ]
          },
          "order": {
            "type": "integer"
          },
          "is_completed": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "match_id",
          "api_match_id",
          "map_name",
          "team_a_score",
          "team_b_score",
          "order",
          "is_completed"
        ]
      },
      "MatchStatsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tournament_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "phase_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "round_number": {
            "type": [
              "integer",
              "null"
            ]
          },
          "round_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "best_of": {
            "type": "integer"
          },
          "patch": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_a": {
            "$ref": "#/components/schemas/TeamWithScore"
          },
          "team_b": {
            "$ref": "#/components/schemas/TeamWithScore"
          },
          "vetos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchVeto"
            }
          },
          "maps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapStatsFull"
            }
          }
        },
        "required": [
          "id",
          "tournament_id",
          "phase_id",
          "round_number",
          "round_name",
          "scheduled_at",
          "status",
          "best_of",
          "patch",
          "team_a",
          "team_b",
          "vetos",
          "maps"
        ]
      },
      "MapStatsFull": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GameMap"
          },
          {
            "type": "object",
            "properties": {
              "player_stats": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MapPlayerStat"
                }
              },
              "rounds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RoundStatsFull"
                }
              }
            },
            "required": [
              "player_stats",
              "rounds"
            ]
          }
        ]
      },
      "MapPlayerStat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "person_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "team_id": {
            "type": "integer"
          },
          "agent_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "kills": {
            "type": "integer"
          },
          "deaths": {
            "type": "integer"
          },
          "assists": {
            "type": "integer"
          },
          "acs": {
            "type": "integer"
          },
          "adr": {
            "type": "integer"
          },
          "first_kills": {
            "type": "integer"
          },
          "first_deaths": {
            "type": "integer"
          },
          "kast_percentage": {
            "type": "number"
          },
          "headshot_percentage": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "person_id",
          "team_id",
          "agent_name",
          "kills",
          "deaths",
          "assists",
          "acs",
          "adr",
          "first_kills",
          "first_deaths",
          "kast_percentage",
          "headshot_percentage"
        ]
      },
      "RoundStatsFull": {
        "type": "object",
        "properties": {
          "round_number": {
            "type": "integer"
          },
          "winning_team": {
            "type": [
              "integer",
              "null"
            ]
          },
          "win_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "atk_team": {
            "type": [
              "integer",
              "null"
            ]
          },
          "def_team": {
            "type": [
              "integer",
              "null"
            ]
          },
          "plant_site": {
            "type": [
              "string",
              "null"
            ]
          },
          "player_stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoundPlayerStatFull"
            }
          },
          "kills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoundKillEvent"
            }
          }
        },
        "required": [
          "round_number",
          "winning_team",
          "win_type",
          "atk_team",
          "def_team",
          "plant_site",
          "player_stats",
          "kills"
        ]
      },
      "RoundPlayerStatFull": {
        "type": "object",
        "properties": {
          "player_id": {
            "type": "integer"
          },
          "kills": {
            "type": "integer"
          },
          "assists": {
            "type": "integer"
          },
          "score": {
            "type": "integer"
          },
          "economy_spent": {
            "type": [
              "integer",
              "null"
            ]
          },
          "economy_remaining": {
            "type": [
              "integer",
              "null"
            ]
          },
          "weapon_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "armor": {
            "type": [
              "string",
              "null"
            ]
          },
          "damage": {
            "type": "integer"
          },
          "headshots": {
            "type": "integer"
          },
          "bodyshots": {
            "type": "integer"
          },
          "legshots": {
            "type": "integer"
          }
        },
        "required": [
          "player_id",
          "kills",
          "assists",
          "score",
          "economy_spent",
          "economy_remaining",
          "weapon_id",
          "armor",
          "damage",
          "headshots",
          "bodyshots",
          "legshots"
        ]
      },
      "RoundKillEvent": {
        "type": "object",
        "properties": {
          "kill_player_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "victim_player_id": {
            "type": "integer"
          },
          "time_ms": {
            "type": "integer"
          }
        },
        "required": [
          "kill_player_id",
          "victim_player_id",
          "time_ms"
        ]
      },
      "MatchV3Response": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MatchStatsResponse"
          },
          {
            "type": "object",
            "properties": {
              "encounters": {
                "$ref": "#/components/schemas/MatchEncounters"
              },
              "radar_chart_widget_url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Absolute URL to the OBS head to head radar chart widget for these two teams, null if either side is a bye/TBD."
              },
              "pickem": {
                "$ref": "#/components/schemas/PickemVotes"
              }
            },
            "required": [
              "encounters",
              "radar_chart_widget_url",
              "pickem"
            ]
          }
        ]
      },
      "MatchEncounters": {
        "type": "object",
        "properties": {
          "team_a_wins": {
            "type": "integer"
          },
          "team_b_wins": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchEncounter"
            }
          }
        },
        "required": [
          "team_a_wins",
          "team_b_wins",
          "items"
        ]
      },
      "MatchEncounter": {
        "type": "object",
        "properties": {
          "match_id": {
            "type": "integer"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "tournament_name": {
            "type": "string"
          },
          "score_a": {
            "type": [
              "integer",
              "null"
            ]
          },
          "score_b": {
            "type": [
              "integer",
              "null"
            ]
          },
          "result": {
            "type": "string",
            "enum": [
              "win",
              "loss",
              "draw"
            ],
            "description": "Oriented from team_a's perspective."
          }
        },
        "required": [
          "match_id",
          "scheduled_at",
          "tournament_name",
          "score_a",
          "score_b",
          "result"
        ]
      },
      "PickemVotes": {
        "type": "object",
        "properties": {
          "team_a": {
            "type": "integer"
          },
          "team_b": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "team_a_percentage": {
            "type": "number"
          },
          "team_b_percentage": {
            "type": "number"
          }
        },
        "required": [
          "team_a",
          "team_b",
          "total",
          "team_a_percentage",
          "team_b_percentage"
        ]
      },
      "MapFullResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GameMap"
          },
          {
            "type": "object",
            "properties": {
              "player_stats": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MapPlayerStat"
                }
              },
              "team_a": {
                "$ref": "#/components/schemas/TeamWithScore"
              },
              "team_b": {
                "$ref": "#/components/schemas/TeamWithScore"
              }
            },
            "required": [
              "player_stats",
              "team_a",
              "team_b"
            ]
          }
        ]
      },
      "RoundFullResponse": {
        "type": "object",
        "properties": {
          "round_number": {
            "type": "integer"
          },
          "winning_team": {
            "type": [
              "integer",
              "null"
            ]
          },
          "win_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "player_stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoundPlayerStat"
            }
          }
        },
        "required": [
          "round_number",
          "winning_team",
          "win_type",
          "player_stats"
        ]
      },
      "RoundPlayerStat": {
        "type": "object",
        "properties": {
          "player_id": {
            "type": "integer"
          },
          "kills": {
            "type": "integer"
          },
          "assists": {
            "type": "integer"
          },
          "score": {
            "type": "integer"
          },
          "economy_spent": {
            "type": [
              "integer",
              "null"
            ]
          },
          "economy_remaining": {
            "type": [
              "integer",
              "null"
            ]
          },
          "weapon_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "armor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "player_id",
          "kills",
          "assists",
          "score",
          "economy_spent",
          "economy_remaining",
          "weapon_id",
          "armor"
        ]
      },
      "TeamFullResponseV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TeamV2"
          },
          {
            "type": "object",
            "properties": {
              "logos": {
                "$ref": "#/components/schemas/ThemedLogoUrls"
              },
              "achievements": {
                "$ref": "#/components/schemas/AchievementsResponse"
              },
              "last_matches": {
                "$ref": "#/components/schemas/PaginatedTeamMatches"
              },
              "current_roster": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Player"
                }
              },
              "last_tournaments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TournamentEntry"
                },
                "description": "Last 10 tournaments the team registered for, most recent first. W/L counts decided matches only."
              },
              "press": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PressEntry"
                }
              }
            },
            "required": [
              "logos",
              "achievements",
              "last_matches",
              "current_roster",
              "last_tournaments",
              "press"
            ]
          }
        ]
      },
      "ThemedLogoUrls": {
        "type": "object",
        "properties": {
          "dark": {
            "$ref": "#/components/schemas/LogoUrls"
          },
          "light": {
            "$ref": "#/components/schemas/LogoUrls"
          }
        },
        "required": [
          "dark",
          "light"
        ]
      },
      "AchievementsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AchievementEntry"
            }
          },
          "titles": {
            "type": "integer"
          },
          "podiums": {
            "type": "integer"
          }
        },
        "required": [
          "items",
          "titles",
          "podiums"
        ]
      },
      "AchievementEntry": {
        "type": "object",
        "properties": {
          "tournament_id": {
            "type": "integer"
          },
          "tournament_name": {
            "type": "string"
          },
          "placement": {
            "type": "integer"
          },
          "placement_label": {
            "type": [
              "string",
              "null"
            ]
          },
          "end_date": {
            "type": "string"
          }
        },
        "required": [
          "tournament_id",
          "tournament_name",
          "placement",
          "placement_label",
          "end_date"
        ]
      },
      "TournamentEntry": {
        "type": "object",
        "properties": {
          "tournament": {
            "$ref": "#/components/schemas/TournamentV2"
          },
          "logos": {
            "$ref": "#/components/schemas/ThemedLogoUrls"
          },
          "team": {
            "$ref": "#/components/schemas/Team"
          },
          "entrant_name": {
            "type": "string"
          },
          "placement": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Final placement, null when none is recorded."
          },
          "placement_label": {
            "type": [
              "string",
              "null"
            ]
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          }
        },
        "required": [
          "tournament",
          "logos",
          "team",
          "entrant_name",
          "placement",
          "placement_label",
          "wins",
          "losses"
        ]
      },
      "TournamentV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tournament"
          },
          {
            "type": "object",
            "properties": {
              "liquipedia_link": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "liquipedia_link"
            ]
          }
        ]
      },
      "PressEntry": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "lang": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "slug",
          "publisher",
          "published_at",
          "lang"
        ]
      },
      "TeamV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Team"
          },
          {
            "type": "object",
            "properties": {
              "liquipedia_link": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "liquipedia_link"
            ]
          }
        ]
      },
      "PlayerFullResponseV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlayerV2"
          },
          {
            "type": "object",
            "properties": {
              "logos": {
                "$ref": "#/components/schemas/ThemedLogoUrls"
              },
              "achievements": {
                "$ref": "#/components/schemas/AchievementsResponse"
              },
              "last_matches": {
                "$ref": "#/components/schemas/PaginatedTeamMatches"
              },
              "current_teams": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlayerTeamHistoryEntryV2"
                }
              },
              "past_teams": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlayerTeamHistoryEntryV2"
                }
              },
              "last_tournaments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TournamentEntry"
                }
              },
              "press": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PressEntry"
                }
              }
            },
            "required": [
              "logos",
              "achievements",
              "last_matches",
              "current_teams",
              "past_teams",
              "last_tournaments",
              "press"
            ]
          }
        ]
      },
      "PlayerTeamHistoryEntryV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlayerTeamHistoryEntry"
          },
          {
            "type": "object",
            "properties": {
              "team_name": {
                "type": "string",
                "description": "Team name at the time: as of the last day of the stint for past teams, current name otherwise."
              },
              "current_name": {
                "type": "string",
                "description": "The team's current name."
              },
              "logos": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ThemedLogoUrls"
                  },
                  {
                    "description": "Team logos at the time (last day of the stint for past teams), current logos otherwise."
                  }
                ]
              }
            },
            "required": [
              "current_name",
              "logos"
            ]
          }
        ]
      },
      "PlayerV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Player"
          },
          {
            "type": "object",
            "properties": {
              "pronouns": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "0 = she/her, 1 = he/him, 2 = they/them."
                  },
                  "name": {
                    "type": "string",
                    "enum": [
                      "she/her",
                      "he/him",
                      "they/them"
                    ]
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "description": "Pronouns set on the profile, null when unset."
              },
              "liquipedia_link": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "is_claimed": {
                "type": "boolean",
                "description": "True when the profile is linked to a GC-Stats account (the account itself is never exposed)."
              }
            },
            "required": [
              "pronouns",
              "liquipedia_link",
              "is_claimed"
            ]
          }
        ]
      },
      "PaginatedStaffTournaments": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StaffTournamentEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "StaffTournamentEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TournamentEntry"
          },
          {
            "type": "object",
            "properties": {
              "roles": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Staff roles the person held on the team during the tournament."
              }
            },
            "required": [
              "roles"
            ]
          }
        ]
      },
      "TournamentFullResponseV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TournamentV2"
          },
          {
            "type": "object",
            "properties": {
              "phases": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TournamentPhaseV2"
                }
              },
              "logos": {
                "$ref": "#/components/schemas/ThemedLogoUrls"
              },
              "entrants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TournamentEntrant"
                }
              }
            },
            "required": [
              "phases",
              "logos",
              "entrants"
            ]
          }
        ]
      },
      "TournamentPhaseV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TournamentPhase"
          },
          {
            "type": "object",
            "properties": {
              "liquipedia_link": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "liquipedia_link"
            ]
          }
        ]
      },
      "TournamentEntrant": {
        "type": "object",
        "properties": {
          "entrant_id": {
            "type": "integer"
          },
          "team_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "display_name": {
            "type": "string"
          },
          "short_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "seed": {
            "type": [
              "integer",
              "null"
            ]
          },
          "logos": {
            "$ref": "#/components/schemas/ThemedLogoUrls"
          },
          "roster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntrantRosterPlayer"
            }
          }
        },
        "required": [
          "entrant_id",
          "team_id",
          "display_name",
          "short_name",
          "seed",
          "logos",
          "roster"
        ]
      },
      "EntrantRosterPlayer": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "integer"
          },
          "handle": {
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "handle"
        ]
      },
      "TournamentMapEntry": {
        "type": "object",
        "properties": {
          "map_name": {
            "type": "string"
          },
          "times_played": {
            "type": "integer"
          },
          "comps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TournamentMapCompEntry"
            }
          },
          "team_stats": {
            "$ref": "#/components/schemas/TournamentTeamMapStats"
          }
        },
        "required": [
          "map_name",
          "times_played",
          "comps",
          "team_stats"
        ]
      },
      "TournamentMapCompEntry": {
        "type": "object",
        "properties": {
          "comp": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "times_played": {
            "type": "integer"
          }
        },
        "required": [
          "comp",
          "times_played"
        ]
      },
      "TournamentTeamMapStats": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "winrate": {
            "type": "number"
          },
          "atk": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "def": {
            "$ref": "#/components/schemas/SideWinrate"
          },
          "eco": {
            "$ref": "#/components/schemas/EcoBreakdown"
          },
          "comps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompEntry"
            }
          }
        },
        "required": [
          "wins",
          "losses",
          "winrate",
          "atk",
          "def",
          "eco",
          "comps"
        ],
        "description": "Present only when the `team_id` filter is given: that team's winrate, side split and comps for this map."
      },
      "TournamentStatsEntry": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "integer"
          },
          "handle": {
            "type": "string"
          },
          "nationality": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "team_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maps_played": {
            "type": "integer"
          },
          "rounds_played": {
            "type": "integer"
          },
          "total_kills": {
            "type": "number"
          },
          "avg_kills": {
            "type": "number"
          },
          "total_deaths": {
            "type": "number"
          },
          "avg_deaths": {
            "type": "number"
          },
          "total_assists": {
            "type": "number"
          },
          "avg_assists": {
            "type": "number"
          },
          "total_acs": {
            "type": "number"
          },
          "avg_acs": {
            "type": "number"
          },
          "total_adr": {
            "type": "number"
          },
          "avg_adr": {
            "type": "number"
          },
          "total_kast_percentage": {
            "type": "number"
          },
          "avg_kast_percentage": {
            "type": "number"
          },
          "total_headshot_percentage": {
            "type": "number"
          },
          "avg_headshot_percentage": {
            "type": "number"
          },
          "total_first_kills": {
            "type": "number"
          },
          "avg_first_kills": {
            "type": "number"
          },
          "total_first_deaths": {
            "type": "number"
          },
          "avg_first_deaths": {
            "type": "number"
          },
          "kd_ratio": {
            "type": "number"
          }
        },
        "required": [
          "person_id",
          "handle",
          "nationality",
          "team_id",
          "team_name",
          "agents",
          "maps_played",
          "rounds_played",
          "total_kills",
          "avg_kills",
          "total_deaths",
          "avg_deaths",
          "total_assists",
          "avg_assists",
          "total_acs",
          "avg_acs",
          "total_adr",
          "avg_adr",
          "total_kast_percentage",
          "avg_kast_percentage",
          "total_headshot_percentage",
          "avg_headshot_percentage",
          "total_first_kills",
          "avg_first_kills",
          "total_first_deaths",
          "avg_first_deaths",
          "kd_ratio"
        ]
      },
      "OrganizationFullResponseV2": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "secondary_country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "socials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "logos": {
            "$ref": "#/components/schemas/ThemedLogoUrls"
          },
          "members": {
            "$ref": "#/components/schemas/OrganizationMembersResponse"
          },
          "stream_channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StreamChannelEntry"
            }
          },
          "vods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationVodEntry"
            }
          },
          "press": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PressEntry"
            }
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "tags",
          "country_code",
          "secondary_country_code",
          "bio",
          "socials",
          "logos",
          "members",
          "stream_channels",
          "vods",
          "press"
        ]
      },
      "OrganizationMembersResponse": {
        "type": "object",
        "properties": {
          "current": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationMemberEntry"
            }
          },
          "formers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationMemberEntry"
            }
          }
        },
        "required": [
          "current",
          "formers"
        ]
      },
      "OrganizationMemberEntry": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "integer"
          },
          "person_id": {
            "type": "integer"
          },
          "handle": {
            "type": "string"
          },
          "country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "secondary_country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string"
          },
          "since": {
            "type": [
              "string",
              "null"
            ]
          },
          "until": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "membership_id",
          "person_id",
          "handle",
          "country_code",
          "secondary_country_code",
          "role",
          "since",
          "until"
        ]
      },
      "StreamChannelEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "official",
              "watchparty"
            ]
          },
          "url": {
            "type": "string"
          },
          "language_code": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "platform",
          "type",
          "url",
          "language_code"
        ]
      },
      "OrganizationVodEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "language_code": {
            "type": "string"
          },
          "match_id": {
            "type": "integer"
          },
          "match_label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "url",
          "language_code",
          "match_id",
          "match_label"
        ]
      },
      "PaginatedVods": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VodEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "VodEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "language_code": {
            "type": "string"
          },
          "map_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "organization": {
            "$ref": "#/components/schemas/VodOrganizationRef"
          },
          "match": {
            "$ref": "#/components/schemas/VodMatchRef"
          }
        },
        "required": [
          "id",
          "url",
          "language_code",
          "map_id",
          "organization",
          "match"
        ]
      },
      "VodOrganizationRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "logos": {
            "$ref": "#/components/schemas/ThemedLogoUrls"
          }
        },
        "required": [
          "id",
          "name",
          "logos"
        ]
      },
      "VodMatchRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tournament_id": {
            "type": "integer"
          },
          "round_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "team_a": {
            "$ref": "#/components/schemas/Team"
          },
          "team_b": {
            "$ref": "#/components/schemas/Team"
          }
        },
        "required": [
          "id",
          "tournament_id",
          "round_name",
          "scheduled_at",
          "team_a",
          "team_b"
        ]
      },
      "PaginatedNews": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "NewsEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "excerpt": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_cover": {
            "type": [
              "string",
              "null"
            ]
          },
          "lang": {
            "type": "string"
          },
          "is_featured": {
            "type": "boolean"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization": {
            "$ref": "#/components/schemas/NewsOrganizationRef"
          }
        },
        "required": [
          "id",
          "title",
          "slug",
          "excerpt",
          "image_cover",
          "lang",
          "is_featured",
          "published_at",
          "organization"
        ]
      },
      "NewsOrganizationRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "logos": {
            "$ref": "#/components/schemas/ThemedLogoUrls"
          }
        },
        "required": [
          "id",
          "name",
          "logos"
        ]
      },
      "PaginatedTeams": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamListEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "TeamListEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TeamV2"
          },
          {
            "type": "object",
            "properties": {
              "logos": {
                "$ref": "#/components/schemas/ThemedLogoUrls"
              }
            },
            "required": [
              "logos"
            ]
          }
        ]
      },
      "PaginatedPlayers": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerListEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "PlayerListEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlayerV2"
          },
          {
            "type": "object",
            "properties": {
              "logos": {
                "$ref": "#/components/schemas/ThemedLogoUrls"
              }
            },
            "required": [
              "logos"
            ]
          }
        ]
      },
      "PaginatedTournaments": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TournamentListEntry"
            }
          }
        },
        "required": [
          "page",
          "per_page",
          "total",
          "total_pages",
          "data"
        ]
      },
      "TournamentListEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TournamentV2"
          },
          {
            "type": "object",
            "properties": {
              "logos": {
                "$ref": "#/components/schemas/ThemedLogoUrls"
              },
              "teams_count": {
                "type": "integer"
              }
            },
            "required": [
              "logos",
              "teams_count"
            ]
          }
        ]
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "team": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            }
          },
          "player": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerSearchResultItem"
            }
          },
          "tournament": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            }
          },
          "organization": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            }
          }
        },
        "required": [
          "team",
          "player",
          "tournament",
          "organization"
        ]
      },
      "SearchResultItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "team",
              "player",
              "tournament",
              "organization"
            ]
          },
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "secondary_country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "logo_url_light": {
            "type": [
              "string",
              "null"
            ]
          },
          "path": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "popularity": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "id",
          "title",
          "subtitle",
          "country_code",
          "secondary_country_code",
          "logo_url",
          "logo_url_light",
          "path",
          "score",
          "popularity"
        ]
      },
      "PlayerSearchResultItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SearchResultItem"
          },
          {
            "type": "object",
            "properties": {
              "is_claimed": {
                "type": "boolean"
              }
            },
            "required": [
              "is_claimed"
            ]
          }
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/players/by-name/{name}": {
      "get": {
        "summary": "Search players by handle (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "sentinels",
              "description": "Case insensitive prefix match."
            },
            "required": true,
            "description": "Case insensitive prefix match.",
            "name": "name",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Up to 20 players whose handle starts with the given name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}": {
      "get": {
        "summary": "Get a player by id (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The player.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponse"
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No resource matches the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}/teams": {
      "get": {
        "summary": "Get a player's team history (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The player's roster stints, most recent first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerTeamHistoryEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No resource matches the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}/photos": {
      "get": {
        "summary": "Get a player's photo history (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The player's current photo plus its history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}/stats": {
      "get": {
        "summary": "Get a player's average stats (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-01-01",
              "description": "Inclusive lower bound (YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive lower bound (YYYY-MM-DD).",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-12-31",
              "description": "Inclusive upper bound (YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive upper bound (YYYY-MM-DD).",
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Restricts to a single tournament."
            },
            "required": false,
            "description": "Restricts to a single tournament.",
            "name": "tournament_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Restricts to a single agent name."
            },
            "required": false,
            "description": "Restricts to a single agent name.",
            "name": "agent",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Average stats across the player's recorded maps, broken down by side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvgStats"
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No resource matches the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}/agents": {
      "get": {
        "summary": "Get a player's per agent stats (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-01-01",
              "description": "Inclusive lower bound (YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive lower bound (YYYY-MM-DD).",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-12-31",
              "description": "Inclusive upper bound (YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive upper bound (YYYY-MM-DD).",
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Restricts to a single tournament."
            },
            "required": false,
            "description": "Restricts to a single tournament.",
            "name": "tournament_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Stats and pickrate for each agent the player has used.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentStatsEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No resource matches the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}/weapons": {
      "get": {
        "summary": "Get a player's weapon stats (V1)",
        "tags": [
          "Players"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-01-01",
              "description": "Inclusive lower bound (YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive lower bound (YYYY-MM-DD).",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-12-31",
              "description": "Inclusive upper bound (YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive upper bound (YYYY-MM-DD).",
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Restricts to a single tournament."
            },
            "required": false,
            "description": "Restricts to a single tournament.",
            "name": "tournament_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Kills and rounds held for each weapon the player has used.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeaponStatsEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No resource matches the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/by-name/{name}": {
      "get": {
        "summary": "Search teams by name (V1)",
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "sentinels",
              "description": "Case insensitive prefix match."
            },
            "required": true,
            "description": "Case insensitive prefix match.",
            "name": "name",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Up to 10 teams whose name or short name starts with the given name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{id}": {
      "get": {
        "summary": "Get a team by id (V1)",
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "123",
              "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\")."
            },
            "required": true,
            "description": "Positive integer id, passed as a URL path segment (e.g. \"/teams/123\").",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "description": "A path or query parameter failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid x-api-key header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No resource matches the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{id}/players": {
      "get": {
        "summary": "Get a team's roster (V1)",
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
[...]
