.git
.gitignore
.claude
.claudeignore
SCRATCH

**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/*.tsbuildinfo

**/.env
**/.env.*
!**/.env.example

**/*_conflict_*

npm-debug.log*
Dockerfile
docker-compose*.yml
.dockerignore
